spring.application.name=movie-shelf-backend-core

server.port=

# Data Source
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.url=jdbc:postgresql://localhost:5432/
spring.datasource.username=
spring.datasource.password=

# Hibernate
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.properties.hibernate.show_sql=true
spring.jpa.properties.hibernate.format_sql=true

# External API
api_key=

# For JWT
secret=
token_lifecycle=

# For Cloudinary
cloudinary.cloud-name=
cloudinary.api-key=
cloudinary.api-secret=
cloudinary.folder=